body {
    background-color: #F9F6F1;
    font-family: "Montserrat", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {
      .navbar__wrap .menu {
        display: none;
      }
    
      .hamb {
        display: flex;
        align-items: center;
      }
    
      .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
      }
    
      .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #212121;
        transition: 0.2s;
      }
    
      .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #f9f6f1cf;
        z-index: 100;
        display: flex;
      }
    
      .popup.open {
        left: 0;
      }
    
      .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
      }
    
      .popup .menu > li {
        width: 100%;
      }
    
      .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 28px;
        font-weight: 500;
        color: #212121;
        text-decoration: none;
      }
    
      .popup .menu > li > a:hover {
          color: rgb(226, 107, 68);
      }
    
      body.noscroll {
        overflow: hidden;
      }
}

/*Навигация в шапке*/ 
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *, *::after, *::before {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    height: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }
  
  .navbar {
      position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #F9F6F1;
    z-index: 1000;
  }
  
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  .hamb {
    display: none;
  }
  
  .popup {
    display: none;
  }
  
  .logo {
    display: flex;
    align-items: center;
    width: 270px;
    height: 70px;
    margin-top: 5px;
  }
  
  .menu > li > a {
    text-decoration: none;
  }
  
  .navbar__wrap .menu {
    display: flex;
  }
  
  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }
  
  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color:#212121;
  }
  
  .navbar__wrap .menu > li > a:hover {
    color: rgb(226, 107, 68);
}

/* Form*/
.payment-form {
    max-width: 600px;
    height: 55%;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-form label {
    display: block;
    margin: 20px 0px;
    font-weight: 700;
  }
  
  .payment-form input[type="text"], [type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-form .date-code input {
    width: calc(50%-10px);
  }
  
  .payment-form .date-code {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-form .date-code div {
    width: calc(50% - 5px);
  }
  
  .payment-form button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: #4B4C4C;
    color: #f7f5f5;
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .payment-form button:hover {
    background-color: #1f2020;
  }
  
  @media screen and (max-width: 600px) {
    .payment-form .card-number,
    .payment-form .date-code {
      flex-direction: column;
    }
    
    .payment-form .date-code div {
      width: 100%;
    }
    
  }
  

/*Footer*/
.footer_descriptn {
    width: 540px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0px;
}

.name_link, .name_social {
    font-weight: 700;
    font-size: 24px;
}

.footer_links_a, .footer_social_a {
    text-decoration: none;
    color: #212121;
    font-weight: 400;
    font-size: 18px;
}

.footer_container {
    background-color: #D9D9D9;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;    
}

.footer_logo {
    width: 550px;
    margin-left: 60px;
}

.footer_links {
    width: 200px;
    height: 250px;
}

.footer_social {
    width: 200px;
    height: 250px;
    margin-right: 60px;
}

.footer_links div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.footer_social div {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.footer_links_a {
    margin-bottom: 15px;
}
.footer_social_a {
    margin-bottom: 25px;
}

/*footer bottom*/
.footer_bottom {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}